@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import url("variables.css");
@import url("style.css");
@import url("utilities.css");
@import url("side-bar.css");
@import url("player-bar.css");
@import url("media-queries.css");