@media screen and (max-width: 1100px) {
    .main-col {
        flex-basis: 25%;
    }
}

@media screen and (max-width: 800px) {
    .main-col {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 500px) {
    .main-col {
        flex-basis: 100%;
    }
}