@media screen and (max-width: 1100px) {
    .main-col {
        flex-basis: 25%;
    }
}

@media screen and (max-width: 800px) {
    .main-col {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 700px) {
    
}

@media screen and (max-width: 600px) {
    #side-bar {
        display: none;
    }

    #app-container #side-bar.hided {
        display: flex;
    }
}

@media screen and (max-width: 500px) {
    .main-col {
        flex-basis: 100%;
    }
}