* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
    color: var(--white);
    font-size: 16px;
}

#app-container {
    height: 100vh;
}

#player-bar {
    background-color: var(--player-bg);
    min-height: 50px;
}

#side-bar {
    background-color: var(--side-bar-bg);
    min-width: 200px;
    padding-left: var(--side-bar-padding-left);
}

#side-bar .logo-container {
    height: 65px;
}

#side-bar .logo-container img {
    width: 60%;
}

#side-bar .icon-container {
    height: var(--nav-item-height);
}

#side-bar .icon-container .nav-icon {
    height: 65%;
}

#side-bar .nav-item {
    padding-top: 0.1rem;
}

#side-bar .nav-menu-text {
    font-size: 0.8rem;
    margin-left: 0.5rem;
    font-weight: 600;
}

#side-bar .green-vertical-bar {
    background-color: chartreuse;
    position: absolute;
    left: 0;
    width: 3px;
    height: var(--nav-item-height);
    border-radius: 5px;
}

#side-bar .nav-menu {
    padding-bottom: 0.7rem;
}

#side-bar .playlist-menu {
    gap: 0.4rem;
}

#side-bar .add-playlist-menu:hover .add-playlist {
    background-color: white;
}

#side-bar .add-playlist-menu:hover .add-playlist-text {
    color: white;
}

#side-bar .nav-item.text-less-white {
    color: rgb(237, 231, 231);
    cursor: pointer;
}

#side-bar .nav-item.text-less-white:hover {
    color: white;
}

#side-bar .add-playlist {
    height: 35px;
    line-height: 2rem;
    font-size: 1.3rem;
    background-color: var(--gray);
}

#side-bar .add-playlist i {
    width: 35px;
    text-align: center;
    color: black;
}

#side-bar .add-playlist-text {
    font-size: 0.7rem;
    margin-left: 0.6rem;
    font-weight: bold;
}

#side-bar .playlist-menu li {
    font-size: 0.7rem;
    font-weight: 600;
    padding: 0.4rem 0;
}

#main-content {
    background-color: var(--main-content-bg);
}

#top-bar {
    height: 65px;
    background-color: var(--top-bar-bg);
    position: sticky;
    top: 0;
    opacity: 0.9;
}

#top-bar .btn-container {
    flex-basis: 180px;
    flex-shrink: 0;
}

#top-bar .button {
    font-size: 0.6rem;
    display: inline-block;
    border: 2px solid var(--white);
    border-radius: 40px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    text-transform: capitalize;
}

#top-bar .btn-container .button:hover {
    font-size: 0.8rem;
    color: white;
    opacity: 1;
    position: relative;
    text-align: center;
}
