* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
    color: var(--white);
    font-size: 16px;
}

#app-container {
    height: 100vh;
}

#player-bar {
    background-color: var(--player-bg);
    min-height: 50px;
}

#side-bar {
    background-color: var(--side-bar-bg);
    min-width: 200px;
}

#main-content {
    background-color: var(--main-content-bg);
}

#top-bar {
    min-height: 65px;
    background-color: var(--top-bar-bg);
    position: sticky;
    top: 0;
    opacity: 0.7;
    padding: 0.5rem;
}

#top-bar .button {
    font-size: 0.6rem;
    display: inline-block;
    border: 2px solid var(--white);
    border-radius: 40px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    text-transform: capitalize;
}