* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
    color: var(--white);
    font-size: 16px;
}

#app-container {
    height: 100vh;
}

#player-bar {
    background-color: var(--player-bg);
    min-height: 90px;
}

#player-bar .player-controller {
    flex-basis: auto;
    width: 100%;
    max-width: 680px;
    gap: .6rem;
}

#player-bar .player-controller .icons-bar {
    gap: 2rem;
}

#player-bar .left-side {
    min-width: var(--side-bar-width);
}

#player-bar .right-side {
    min-width: var(--side-bar-width);
    flex-basis: auto;
}

#player-bar .ctr-icon {
    font-size: 1.3rem;
    transition: transform 0.3s;
}

#player-bar .play-border {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    height: 2rem;
    border: 2px solid white;
    transition: transform 0.3s;
}

#player-bar .play-border:hover {
    transform: scale(1.2);
}

#player-bar .ctr-icon:hover {
    transform: scale(1.2);
}

#player-bar .ctr-icon.play-icon {
    position: absolute;
    top: 50%;
    left: 59%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s, position 0.3s;
}

#player-bar .ctr-icon.play-icon:hover {
    position: absolute;
    top: 50%;
    left: 59%;
    transform: translate(-50%, -50%);
}

#player-bar .track-bar {
    gap: 1.5rem;
}

#player-bar .time-display {
    font-size: 0.7rem;
}

#player-bar .time-bar {
    background-color: var(--gray);
    height: 3px;
    border-radius: 5px;
    cursor: pointer;
}

#player-bar .time-bar:hover {
    transform: scaleY(2);
}

#player-bar .time-bar .progression-time-bar {
    width: 20%;
    background-color: var(--white);
    height: 5px;
    border-radius: 10px;
    position: absolute;
    top: -1px;
}

#player-bar .left-side .song-name {
    font-size: 0.8rem;
    font-weight: bold;
}

#player-bar .left-side .artist-name {
    font-size: 0.6rem;
    color: var(--gray);
    font-weight: 500;
}

#player-bar .left-side .img-container {
    padding: 10px;
    width: 80px;
    flex-basis: auto;
}

#player-bar .left-side .song-detail {
    flex-basis: auto;
}

#player-bar .left-side .img-container img {
    width: 100%;
}

#player-bar .left-side .icon-flex-container {
    gap: 0.5rem;
}

#player-bar .right-side .volume-bar {
    background-color: var(--gray);
    height: 3px;
    border-radius: 5px;
    cursor: pointer;
}

#player-bar .right-side .volume-bar:hover {
    transform: scaleY(5);
}

#player-bar .right-side .volume-bar .actual-volume-bar {
    width: 20%;
    background-color: var(--white);
    height: 5px;
    border-radius: 20px;
    position: absolute;
    top: -1px;
}

#player-bar .right-side {
    gap: 0.9rem;
    justify-content: space-between;
    padding-right: 0.5rem;
    font-size: 0.8rem;
}

#side-bar {
    background-color: var(--side-bar-bg);
    min-width: var(--side-bar-width);
    padding-left: var(--side-bar-padding-left);
    padding-bottom: 0.4rem;
}

#side-bar .logo-container {
    height: 65px;
}

#side-bar .logo-container img {
    width: 60%;
}

#side-bar .icon-container {
    height: var(--nav-item-height);
}

#side-bar .icon-container .nav-icon {
    height: 65%;
}

#side-bar .nav-item {
    padding-top: 0.1rem;
}

#side-bar .nav-menu-text {
    font-size: 0.8rem;
    margin-left: 0.5rem;
    font-weight: 600;
}

#side-bar .green-vertical-bar {
    background-color: chartreuse;
    position: absolute;
    left: 0;
    width: 3px;
    height: var(--nav-item-height);
    border-radius: 5px;
}

#side-bar .nav-menu {
    padding-bottom: 0.7rem;
}

#side-bar .playlist-menu {
    gap: 0.4rem;
}

#side-bar .add-playlist-menu:hover .add-playlist {
    background-color: white;
}

#side-bar .add-playlist-menu:hover .add-playlist-text {
    color: white;
}

#side-bar .add-playlist {
    height: 35px;
    line-height: 2rem;
    font-size: 1.3rem;
    background-color: var(--gray);
}

#side-bar .add-playlist i {
    width: 35px;
    text-align: center;
    color: black;
}

#side-bar .add-playlist-text {
    font-size: 0.7rem;
    margin-left: 0.6rem;
    font-weight: bold;
}

#side-bar .playlist-menu li {
    font-size: 0.7rem;
    font-weight: 600;
    padding: 0.4rem 0;
}

#side-bar .download-container {
    font-size: 0.6rem;
    font-weight: bold;
}

#side-bar .dwn-load-icon {
    width: 16px;
}

#side-bar .dwn-load-text {
    padding-left: 0.7rem;
}

#side-bar .gray-line {
    width: 90%;
    height: 1px;
    background-color: var(--gray);
    margin-top: .4rem;
    margin-bottom: 0.6rem;
    opacity: 0.7;
}

#side-bar .user-icon {
    width: 20px;
    background-color: var(--gray);
    border-radius: 50%;
}

#side-bar .user-name-text {
    padding-left: 0.7rem;
    font-weight: bold;
    font-size: 0.8rem;
}

#main-content {
    background-color: var(--main-content-bg);
}

#top-bar {
    height: 65px;
    background-color: var(--top-bar-bg);
    position: sticky;
    top: 0;
    opacity: 0.9;
}

#top-bar .btn-container {
    position: absolute;
    top: 50%;
    right: 1.2rem;
    transform: translateY(-50%);
}

#top-bar .button {
    font-size: 0.6rem;
    display: inline-block;
    border: 2px solid var(--white);
    border-radius: 40px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    text-transform: capitalize;
    transition: transform .3s;
}

#top-bar .btn-container .button:hover {
    color: white;
    opacity: 1;
    transform: scale(1.2);
}
