* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
    color: var(--white);
    font-size: 16px;
}

#app-container {
    height: 100vh;
}

#main-content {
    background-color: var(--main-content-bg);
}

#main-content .recently-played {
    padding: 1.5rem 0.5rem;
}

#main-content .recently-played h3{
    padding-left: 0.5rem;
}

#main-content .main-nav-bar {
    gap: 1.5rem;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

#main-content .main-nav-bar .green-horizontal-line {
    height: 2px;
    border-radius: 10px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 35px;
    background-color: chartreuse;
}

.main-col {
    flex-basis: 16.6666666%;
    padding: .5rem;
}

#top-bar {
    height: 65px;
    background-color: var(--top-bar-bg);
    position: sticky;
    top: 0;
    opacity: 0.9;
}

#top-bar .btn-container {
    position: absolute;
    top: 50%;
    right: 1.2rem;
    transform: translateY(-50%);
}

#top-bar .button {
    font-size: 0.6rem;
    display: inline-block;
    border: 2px solid var(--white);
    border-radius: 40px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    text-transform: capitalize;
    transition: transform .3s;
}

#top-bar .btn-container .button:hover {
    color: white;
    opacity: 1;
    transform: scale(1.2);
}
