.row {
    display: flex;
}

.row-vertical {
    flex-direction: column;
}

.col {
    flex-basis: 0;
}

.shrink-0 {
    flex-shrink: 0;
}

.grow-1 {
    flex-grow: 1;
}

.overflow {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}