.row {
    display: flex;
}

.row-vertical {
    flex-direction: column;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.col {
    flex-basis: 0;
}

.shrink-0 {
    flex-shrink: 0;
}

.grow-1 {
    flex-grow: 1;
}

.overflow {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}