:root {
    --player-bg: #282828;
    --side-bar-bg: #000000;
    --main-content-bg: #141922;
    --top-bar-bg: #080B11;

    --white: #FFFFFF;
    --gray: #707070;

    --side-bar-padding-left: 0.5rem;
}